body {
    margin: 0;
    padding: 0;  
    
}
form {
    display: flex;
    justify-content:space-around;
    width: 800px;
    height: 500px;
    border: 1px solid rgb(226, 0, 0);
    align-items: center;
    padding: 15px;
    margin: auto;
    margin-top: 45px;
    background: linear-gradient(
        90deg,
        
        rgb(0, 0, 0) 50%,
        rgb(192, 0, 0) 52%
    );
    border-radius: 15px;
    
}
form .login  {
    
    display: grid;
    justify-content: center;
    align-items: center;
    margin-right: 65px; /*TIRAR SE BUGAR*/
       
}
form .login h1 {
    text-align: center;
    color: white;
}
form .login input[type ="text"],.login input[type="password"]{
    outline: none;
    
    border: 1px solid rgb(160, 152, 161);
    font-size: 19px;
    width: 300px;
    height: 29px;
    background: rgb(255, 255, 255);
    border-radius: 5px;

}
form .login input[type ="text"]{
    margin-bottom: 35px;

}
form .login a {
    width: 120px;
    
    
    text-decoration: none;
    
    font-size: 15px;
    color: rgb(180, 0, 0);
}
#a1{
    margin-top: 20px;
    margin-bottom: 10px;
}
#a2 {
    margin-bottom: 20px;
}
form .login a:hover {
    opacity: 70%;

}
form .login input[type ="submit"]{
    border-radius: 15px;
    margin: auto;
    width: 25vh;
    font-size: 25px;
    background: rgb(170, 0, 0);
    color: white;  
    border: 1px solid white;
}
form .login input[type ="submit"]:active {
    
    color: rgb(0, 0, 0);
    background: white;
    

}
form .tela {
    
    
    text-align: center;
    color: white;
    margin-right: 30px; /*TIRAR SE BUGAR*/
     
}
form .tela a {
    
    margin-bottom: 30px;
    text-decoration: none;
    background: white;
    font-size: 21px;
    color: rgb(0, 0, 0);
    border-radius: 5px;
}
form .tela a:hover {
    opacity: 70%;
}
form .tela img {
    display: block;
    height: 110px;
    width: 90px;
    margin: auto;
    
    
}
.social {
    margin: 0;
    display: flex;
    position: fixed;
    margin-bottom: -70vh;
    
    
}
.social a:hover{
    transform: scale(1.2);
    transition: 0.5s ease;
}
.social a{
    color: white;
    margin-inline: 15px;
    font-size: 35px;
    transition: 0.5s ease;
}

#we1{
    color: rgb(243, 0, 0);
}
#we2{
    color: rgb(252, 0, 0);
}
#we1:hover {
    color: rgb(64, 120, 224);
}
#we2:hover {
    color: red;
}
#we3:hover{
    color: #171515;
    
}
#we4:hover{
    color: #0e76a8;
}